---
import ExperienciaItem from "./ExperienciaItem.astro"

const Experiencias = [
  {
    date: "02-Feb-2024 - 02-Agos-2024",
    title: "Desarrollador Full Stack en Formación",
    company: "Colombiana de Accesorios",
    description: "Se especializa en la creación y optimización de aplicaciones de escritorio, diseño de arquitecturas de software en cuatro capas y desarrollo de interfazes intuitivas con Windows Forms. Administrador de bases de datos MySQL y experto en control de versiones con Git, especializado en la documentación técnica y el análisis de requisitos para la mejora continua de los procesos.",
  },
];
---

<!-- Lista de Experiencias -->
<ol class="relative mt-16">
  <!-- Iterar sobre las experiencias -->
  {Experiencias.map((experiencia) => (
      <li class="">
      <!-- Renderizar el componente ExperienciaItem -->
      <ExperienciaItem {...experiencia} />
    </li>
  ))}
</ol>

