---
import Briefcase from "../icons/Briefcase.astro";

interface Props {
  title: string;
  company: string;
  description: string;
  date: string;
}

const { title, company, description, date } = Astro.props;
---

<section
  class="flex flex-col justify-start px-4 py-8 sm:px-6 md:px-8 lg:px-10 xl:px-12"
>
  <div class="space-y-8">
    <div
      class="flex flex-col md:flex-row md:items-start space-y-4 md:space-y-0 md:space-x-4 bg-white dark:bg-black shadow-lg rounded-lg border border-gray-200 dark:border-gray-700 p-4 md:p-6 transition-transform transform hover:scale-105 hover:shadow-lg hover:border-black-500 dark:hover:border-black-400"
    >
      <!-- Icono de maletín -->
      <div class="flex-shrink-0 mb-4 md:mb-0">
        <div
          class="w-12 h-12 bg-transparent rounded-full flex items-center justify-center"
        >
          <Briefcase
            class="w-6 h-6 sm:w-8 sm:h-8 md:w-10 md:h-10 text-black dark:text-white"
          />
        </div>
      </div>

      <!-- Contenido de la experiencia -->
      <div class="flex-1">
        <h3
          class="text-2xl sm:text-3xl md:text-4xl font-semibold text-gray-800 dark:text-white mb-1"
        >
          {title}
        </h3>
        <p
          class="text-gray-800 dark:text-gray-300 font-medium mb-1 text-lg md:text-xl"
        >
          {company}
        </p>
        <p class="text-gray-600 dark:text-gray-400 text-sm md:text-base mb-2">
          {date}
        </p>
        <p class="text-gray-700 dark:text-gray-300 text-sm md:text-base">
          {description}
        </p>
      </div>
    </div>
  </div>
</section>
