---
import ExperienciaItem from "./ExperienciaItem.astro"

const Experiencias = [
  {
    date: "02-Feb-2024 - 02-Agos-2024",
    title: " Desarrollador .NET Jr",
    company: "Colombiana de Accesorios",
    description: "Desarrollo y soporte de aplicaciones en C#/.NET, utilizando una arquitectura de cuatro capas y diseñando interfaces en Windows Forms. Mnaejo en la administración de bases de datos MySQL y control de versiones con Git. Habilidades en la creación de documentación técnica y análisis de requerimientos para mejorar los procesos."
  },
];
---

<!-- Lista de Experiencias -->
<ol class="relative mt-8">
  <!-- Iterar sobre las experiencias -->
  {Experiencias.map((experiencia) => (
    <li>
      <!-- Renderizar el componente ExperienciaItem -->
      <ExperienciaItem {...experiencia} />
    </li>
  ))}
</ol>
