---
import ExperienciaItem from "./ExperienciaItem.astro"

const Experiencias = [
  {
    date: "02-Feb-2024 - 02-Agos-2024",
    title: "Practicante Full Stack (Practicante 6 meses)",
    company: "Colombiana de Accesorios",
    description: "Desarrollé y optimicé aplicaciones de escritorio en C# .NET Framework, implementando nuevas funcionalidades para mejorar la eficiencia operativa. Recopilé y analicé requisitos para asegurar que las aplicaciones cumplieran con las necesidades de los usuarios, diseñé una arquitectura de software en cuatro capas (Datos, Lógica, Menú y Modelos), y creé interfaces intuitivas en Windows Forms para una mejor experiencia del usuario.",
  },
];
---

<!-- Lista de Experiencias -->
<ol class="relative mt-16">
  <!-- Iterar sobre las experiencias -->
  {Experiencias.map((experiencia) => (
      <li class="">
      <!-- Renderizar el componente ExperienciaItem -->
      <ExperienciaItem {...experiencia} />
    </li>
  ))}
</ol>

