---
import ProfileCheck from "../icons/ProfileCheck.astro";
---

<section
  class="min-h-screen flex flex-col md:flex-row items-center justify-center gap-12 px-4 md:px-8 transition-transform duration-300 hover:scale-105 hover:shadow-lg bg-white dark:bg-black"
>
  <div class="w-full md:w-1/2 flex justify-center">
    <div class="relative w-64 h-64 md:w-80 md:h-80">
      <img
        src="../assets/me.webp"
        class="w-full h-full object-cover rounded-full shadow-lg transition-transform duration-300 transform hover:scale-105 hover:rotate-3"
        alt="Foto del autor"
      />
    </div>
  </div>
  <div class="w-full md:w-1/2 space-y-6 text-center md:text-left">
    <h3
      class="text-2xl font-bold text-gray-800 dark:text-gray-300 flex items-center"
    >
      <ProfileCheck class="w-6 h-6 sm:w-8 sm:h-8 md:w-10 md:h-10 mr-2" />
      Desarrollador Web Full Stack
    </h3>
    <p
      class="text-xl text-gray-800 dark:text-gray-300 max-w-md mx-auto md:mx-0"
    >
      Soy desarrollador web y me encanta construir aplicaciones y resolver
      problemas. Con experiencia en front-end y back-end, siempre busco aprender
      algo nuevo y aplicar lo que sé para crear soluciones útiles.
    </p>
    <p
      class="text-xl text-gray-800 dark:text-gray-300 max-w-md mx-auto md:mx-0"
    >
      En mis tiempos libres me gusta probar nuevas tecnologías, trabajar en mis
      propios proyectos y hacer deporte. Disfruto colaborar con otros y mejorar
      constantemente.
    </p>
  </div>
</section>
