<section
  class="min-h-screen flex flex-col md:flex-row items-center justify-center gap-12 px-4 md:px-8 transition-transform duration-300 hover:scale-105 hover:shadow-lg bg-white dark:bg-black"
>
  <div class="w-full md:w-1/2 flex justify-center">
    <div class="relative w-64 h-64 md:w-80 md:h-80">
      <img
        src="../assets/me.webp"
        class="w-full h-full object-cover rounded-full shadow-lg transition-transform duration-300 transform hover:scale-105 hover:rotate-3"
      />
    </div>
  </div>
  <div class="w-full md:w-1/2 space-y-6 text-center md:text-left">
    <h3 class="text-2xl font-bold text-gray-400 dark:text-gray-300">
      Desarrollador Web Full Stack
    </h3>
    <p
      class="text-xl text-gray-800 dark:text-gray-300 max-w-md mx-auto md:mx-0"
    >
      Soy un desarrollador apasionado con experiencia en desarrollo web y
      diseño. A mis 21 años, he trabajado en proyectos que me han permitido
      crecer técnica y personalmente. Me encanta enfrentar desafíos y buscar
      soluciones innovadoras para mejorar constantemente.
    </p>
    <p
      class="text-xl text-gray-800 dark:text-gray-300 max-w-md mx-auto md:mx-0"
    >
      En mi tiempo libre, exploro nuevas tecnologías, trabajo en proyectos
      personales y practico deportes. La curiosidad y la dedicación me impulsan
      a seguir evolucionando y a contribuir efectivamente a los equipos en los
      que participo.
    </p>
  </div>
</section>
