---
import ProfileCheck from "../icons/ProfileCheck.astro";
---

<section
  class="min-h-screen flex flex-col md:flex-row items-center justify-center gap-12 px-4 md:px-8 transition-transform duration-300 hover:scale-105 hover:shadow-lg bg-white dark:bg-black"
>
  <div class="w-full md:w-1/2 flex justify-center">
    <div class="relative w-64 h-64 md:w-80 md:h-80">
      <img
        src="../assets/me.webp"
        class="w-full h-full object-cover rounded-full shadow-lg transition-transform duration-300 transform hover:scale-105 hover:rotate-3"
        alt="Foto del autor"
      />
    </div>
  </div>
  <div class="w-full md:w-1/2 space-y-6 text-center md:text-left">
    <h3
      class="text-2xl font-bold text-gray-800 dark:text-gray-300 flex items-center"
    >
      <ProfileCheck class="w-6 h-6 sm:w-8 sm:h-8 md:w-10 md:h-10 mr-2" />
      Desarrollador Web Full Stack
    </h3>
    <p
      class="text-xl text-gray-800 dark:text-gray-300 max-w-md mx-auto md:mx-0"
    >
      Soy un desarrollador web con una gran pasión por crear soluciones
      innovadoras que resuelvan problemas reales. Con experiencia tanto en
      front-end como en back-end, me encanta explorar nuevas tecnologías y
      aplicar mis conocimientos para construir aplicaciones que marquen la
      diferencia.
    </p>
    <p
      class="text-xl text-gray-800 dark:text-gray-300 max-w-md mx-auto md:mx-0"
    >
      Siempre estoy en busca de nuevos retos, trabajando en mis proyectos
      personales y colaborando con equipos para mejorar constantemente. Además,
      cuando no estoy codificando, disfruto mantenerme activo practicando
      deportes. Mi enfoque es aprender, crear y colaborar para lograr resultados
      excepcionales.
    </p>
  </div>
</section>
