---
import "@fontsource-variable/onest";
import Header from "../components/Header";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import { getLangFromUrl } from "../i18n/utils";

interface Props {
  title: string;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="relative text-black dark:text-white">
    <Header client:only />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />

    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
        font-size: 16px;
      }

      body {
        color: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
        padding: 0 16px;
      }

      @media (min-width: 768px) {
        body {
          padding: 0 32px;
        }
      }

      @media (min-width: 1024px) {
        body {
          padding: 0 64px;
        }
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(248, 247, 248, 0.9);
        }
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229);
          border-radius: 9999px;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding: 0.25rem 0.75rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 9999px;
          }
        }
      }

      @media (max-width: 640px) {
        body {
          padding: 0 8px;
        }

        html {
          font-size: 14px;
        }
      }

      @media (max-width: 480px) {
        html {
          font-size: 12px;
        }

        body {
          padding: 0 4px;
        }
      }

      /* Barra de desplazamiento */
      ::-webkit-scrollbar {
        width: 10px; /* Un ancho moderado para que no sea demasiado delgada */
        height: 10px; /* Altura para desplazamiento horizontal */
      }

      /* Parte que se mueve (thumb) */
      ::-webkit-scrollbar-thumb {
        background-color: #ccc; /* Un color suave y neutro */
        border-radius: 8px; /* Bordes redondeados */
        border: 2px solid transparent; /* Añade un borde para mayor separación */
        background-clip: content-box; /* Hace que el borde se separe del color de fondo */
      }

      /* Parte de fondo (track) */
      ::-webkit-scrollbar-track {
        background-color: #f0f0f0; /* Un color claro y sutil para el fondo */
        border-radius: 8px; /* Bordes redondeados para una apariencia uniforme */
      }

      /* Efecto hover */
      ::-webkit-scrollbar-thumb:hover {
        background-color: #888; /* Un color más oscuro al pasar el mouse */
      }
    </style>
  </body>
</html>
